<div id="top-container">

    <div class="text-container">
        <h1>Hi I'm Hans Preeker!</h1>
            A enthousiastic developer who loves to create awesome experiences for others.
            </br>
            As I was planning on making a career change from Hospitality to IT in 2021,
            then corona came in 2020 and I decided that this was going to be the year to learn to code.
            </br>
            I followed the coding bootcamp at Le Wagon in Amsterdam. My current stack is Ruby on Rails, Javascript ES6, HTML5, CSS and MySQL.
            </br>

        <h2>Flying IT Dutchman</h2>
            Love traveling and would fly/move anywhere in the world for interesting jobs/projects.
    </div>

    <%= image_tag('Hans2.jpg', :class => "profile_img") %>
    
</div>

<div id="project-container">
    <h2>Projects</h2>
        The following projects is what I have worked on in the projectgroups of Le Wagon.
        </br>
        </br>
        <div class="card-container">

                <div class="img-container">
                    <%= link_to "https://www.moveablefeasts.club", target: "_blank" do %>
                    <%= image_tag "moveable_feasts.gif", border: 0, :class => "card-img" %>
                    <div class="middle">
                        <div class="text">
                        <h2>Movable Feasts</h2>
                        A platform for connecting people over a nice meal and/or drinks/cocktails.
                        
                        </div>
                    </div>
                    <% end  %>
                </div>

                <div class="img-container">
                    <%= link_to "http://bookbookborrow.herokuapp.com/", target: "_blank" do %>
                    <%= image_tag "bookborrow.png", border: 0, :class => "card-img" %>
                    <div class="middle">
                        <div class="text">
                        <h2>Bookborrow</h2>
                         For people to borrow and lend books to people in their neighborhoods. A digital library for people who don't like to go through the actual library.
                        </div>
                    </div>
                    <% end %>
                </div>
        </div>
</div>

<div id="form-container">
    <h2>Let's get in touch!</h2>
    <%= render 'shared/contact_form' %>
    </br>
    <h2>OR</h2>

        <%= mail_to "hans_preeker@hotmail.com", :class => "mail_to" do %>
        <%= image_tag 'envelope', :class => "email-img" %>
                <p class="email-text">Email me</p>
            
        <% end %>
    
</div>

<div class="footer-container">

    <h2 class="footer-text">Business Socials</h2>

        <ul class="list-inline">
            <li>
                <a href="https://www.linkedin.com/in/hans-preeker-88271147/" target="_blank">
               <%= image_tag 'iconfinder_linkedin_386655.png', :class => "icon" %>
                </a>
            </li>
            <li>
                <a href="https://github.com/Ravemaster8" target="_blank">
                <%= image_tag 'octocat.png', :class => "icon" %></a>
            </li>
        </ul>
        </br>

    <h2 class="footer-text">Language Stack</h2>
        </br>
        <ul class="list-inline">
            <li>
                <%= image_tag 'html5.png', :class => "icon" %>
            </li>
            <li>
                <%= image_tag 'css.png', :class => "icon" %>
            </li>
            <li>
                <%= image_tag 'javascript.png', :class => "icon" %>
            </li>
            <li>
                <%= image_tag 'rails.png', :class => "icon" %>
            </li>
            <li>
                <%= image_tag 'sql.png', :class => "icon" %>
            </li>
            <li>
                <%= image_tag 'heroku.png', :class => "icon" %>
            </li>
        </ul>
</div>