<div id="top-container">

    <div class="text-container">
        <h1>Hi I'm Hans Preeker!</h1>
            A enthousiastic developer who loves to create awesome experiences for others.
            </br>
            As I was planning on making a career change from Hospitality to IT in 2021,
            then corona came in 2020 and I decided that this was going to be the year to learn to code.
            </br>
            I followed the coding bootcamp at Le Wagon in Amsterdam. My current stack is Ruby on Rails, Javascript ES6, HTML5, CSS and MySQL.
            </br>

        <h2>Flying IT Dutchman</h2>
            Love traveling and would fly/move anywhere in the world for interesting jobs/projects.
    </div>

    <%= image_tag('Hans2.jpg', :class => "profile_img") %>
</div>

<div id="project-container">
    <h2>Projects</h2>
        The following projects is what I have worked on in the projectgroups of Le Wagon.
        </br>
        </br>
        <div class="card-container">

                <div class="img-container">
                    <%= link_to "https://www.moveablefeasts.club", target: "_blank" do %>
                    <%= image_tag "moveable_feasts.gif", border: 0, :class => "card-img" %>
                    <div class="middle">
                        <div class="text">Movable Feasts</div>
                    </div>
                    <% end  %>
                </div>

                <div class="img-container">
                    <%= link_to "http://bookbookborrow.herokuapp.com/", target: "_blank" do %>
                    <%= image_tag "bookborrow.png", border: 0, :class => "card-img" %>
                    <div class="middle">
                        <div class="text">Bookborrow</div>
                    </div>
                    <% end %>
                </div>
        </div>
</div>

<div id="form-container">
    <h2>Let's get in touch!</h2>
    <%= render 'shared/contact_form' %>
</div>

<div class="footer-container">
        <ul class="list-inline">
            <li>
                <a href="https://www.linkedin.com/in/hans-preeker-88271147/" target="_blank">
               <%= image_tag 'iconfinder_linkedin_386655.png', :class => "icon" %>
                </a>
            </li>
            <li>
                <a href="https://github.com/Ravemaster8" target="_blank">
                <%= image_tag 'octocat.png', :class => "icon" %></a>
            </li>
        </ul>
</div>